@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
body {
    font-size: 14px;
    color: #555;
    font-family: 微软雅黑;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
/*-------------------------------------------------------顶部开始------------------------------------------------*/
#top{
	width: 1250px;
	height: 150px;
	margin: 0 auto;
	/*background: red;*/
}

.logo1{
	float: left;
    width: 200px;
    height: 150px;
    /*background: greenyellow;*/
}
.logo1 img{
	margin-top: 30px;
}

.nav_top{
	float: right;
	width: 1000px;
	height: auto;
	/*background: blueviolet;*/
}

.nav_top ul li{
	list-style: none;
    width: 100px;
    height: 150px;
    float: left;
    text-align: center;
}

.nav_top #u li:hover{
    background: url(img/navbg.jpg);
}
.nav_top #u li:nth-child(10) {
    background: url(img/navbg.jpg);
}
.nav_top #u li a:hover {
    color: #bf4c5d;
}
.nav_top #u li img{
    transition: all 1s;
}
.nav_top #u li:hover img{
    transform: rotateY(360deg);
}
.nav_top #u li a {
    position: absolute;
    display: block;
    font-size: 16px;
    color: #222;
    width: 100px;
    height: 40px;
    top: 105px;
}
.nav_top #u li img{
	display: block;
	margin-top: 20px;
	margin-left: 30px;
}
.nav_top #u li ul{
    position: absolute;
    list-style: none;
    width: 282px;
    height: auto;
    background-color: rgb(250,250,250,0.7);
    top: 149px;
    z-index: 999;
    display: none;
}
.nav_top #u li:hover ul{
    display: block;
}
.nav_top #u li ul li{
    float: left;
    margin-left: 25px;
    height: 40px;
    line-height: 40px;
}
.nav_top #u ul li:hover{
    background:  #bf4c5d;
}

/*-------------------------------------------------------顶部结束------------------------------------------------*/




/*-------------------------------------------------------侧边开始------------------------------------------------*/

.contact{
	width:400px; 
	height:200px; 
	margin-left: 57px;
}

#u1 li {
    background-color: rgba(255,84,0,0.3);
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid rgba(255,84,0,0.7);
    text-align: center;
    padding-top: 10px;

}

#u1 li ul li {
    background-color: rgba(255,84,0,0.5);
	font-size: 16px;
	text-align: left;
    color: white;
    text-indent: 2em;
}

.xiaoqu{
	width: 450px;
	height: 476px;
	background: red; 
	position: absolute;
	top: 148px;
	left: 665px;
	perspective: 1000px;
	display: none;
}
.f .xiaoqu{
	display: block;
}

.door-l,.door-r {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: pink;
    transition: all 2s; /*两个门都做过渡效果*/
    background: url(img/bg.png);
    z-index: 99;

}
.door-l {
    left: 0;
    border-right: 1px solid #000;
    transform-origin: left;/* 左侧盒子按照左边翻转*/
}
.door-r {
    right: 0;
    border-left: 1px solid #000;
    transform-origin: right;/*  右侧盒子按照右边翻转*/
}
.door-l::before,.door-r::before {  /*伪元素 就是插入一个元素标签*/
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%; /*圆角*/
    transform: translateY(-50%); /*translate 如果是百分比， 就是走自己高度的一半*/
}
.door-l::before {
    right: 5px;
}
.door-r::before {
    left: 5px;
}
/*鼠标经过section 盒子 两个门盒子 翻转 rotateY*/
.f ul:hover .door-l {
    transform: rotateY(-130deg);  /*因为往左边翻转，所以是负值*/
}
.f ul:hover .door-r {
    transform: rotateY(130deg);
}


.juti{
	margin: 0 5px;
	width: 318px;
}
.juti img{
    display: block;
    width: 194px;
    height: 236px;
    position: relative;
    z-index: 9;
    transition: 0.5s;
    margin-left: 129px;
}

.con {
    width: 318px;
    height: 288px;
    background: url(img/ldi.png) no-repeat;
    position: relative;
    z-index: 5;
    margin-top: -50px;
    transition: 0.5s;
    margin-left: 69px;
}

.con span {
    display: block;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-top: 100px;
}

.con p {
    font-size: 16px;
    color: #333;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}
.con:hover{
	margin-top: -60px;
}
/*-------------------------------------------------------侧边结束------------------------------------------------*/


/*-------------------------------------------------------联系开始------------------------------------------------*/
.contact1 {
	margin-top: 320px;
    width: 100%;
    height: 846px;
    background: url(img/conbg.png) top center no-repeat;
    position: relative;
    z-index: 9;
    position: relative;
}

.conzinfo {
    width: 385px;
    height: 290px;
    position: absolute;
    top: 340px;
    right: 107px;
}

.conzinfo p {
    font-size: 16px;
    color: #333;
    height: 70px;
    line-height: 70px;
}

.conzinfo p span {
    font-size: 24px;
    color: #b52a31;
}
.contact2 {
    margin-top: -15px;
    position: relative;
    z-index: 5;
    width: 100%;
	height: 316px;
	background: url(img/xiaobg.jpg) top center no-repeat;
	min-width: 1300px;
}

.cdi {
    display: block;
    margin: 0px auto;
    padding-top: 100px;
}
/*-------------------------------------------------------联系结束------------------------------------------------*/


/*-------------------------------------------------------底部开始------------------------------------------------*/
.foot {
    width: 100%;
    height: 275px;
    background: url(img/h14.jpg) center no-repeat;
}
.foots {
	margin: 0 auto;
    width: 1100px;
    height: 275px;
}

.flogo {
	float: left;
    width: 170px;
    height: 275px;
    background: #fff;
}
.flogo img {
    padding: 35px 0 0 25px;
}
.fbq {
	float: left;
    width: 700px;
    height: 275px;
    margin-left: 40px;
    display: inline;
}
.fbq_nav {
    width: 700px;
    height: 50px;
    background: url(img/03.png) left bottom no-repeat;
    line-height: 50px;
    text-align: left;
}
.fbq_nav span {
    padding: 0 7px;
    color: #fff;
}
.fbq_nav span a {
    color: #fff;
}
.fbq_con {
    width: 700px;
    height: auto;
    line-height: 29px;
    padding-top: 20px;
    color: #fff;
}
.fbq_con ul{
    list-style: none;
    width: 700px;
    width: 223px;
}
.fbq_con ul li{
    width: 700px;
    height: auto;
}
.fbq_con a {
    color: #fff;
}

.fweima {
	float: right;
    width: 185px;
    height: 185px;
    background: #fff;
    text-align: center;
    margin-top: 20px;
    padding-top: 7px;
}
/*-------------------------------------------------------底部结束------------------------------------------------*/