@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
body {
    font-size: 14px;
    color: #555;
    font-family: 微软雅黑;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
/*-------------------------------------------------------顶部开始------------------------------------------------*/
#top{
	width: 1250px;
	height: 150px;
	margin: 0 auto;
	/*background: red;*/
}

.logo1{
	float: left;
    width: 200px;
    height: 150px;
    /*background: greenyellow;*/
}
.logo1 img{
	margin-top: 30px;
}

.nav_top{
	float: right;
	width: 1000px;
	height: auto;
	/*background: blueviolet;*/
}

.nav_top ul li{
	list-style: none;
    width: 100px;
    height: 150px;
    float: left;
    text-align: center;
}

.nav_top #u li:hover{
    background: url(img/navbg.jpg);
}
.nav_top #u li:nth-child(7) {
    background: url(img/navbg.jpg);
}
.nav_top #u li a:hover {
    color: #bf4c5d;
}
.nav_top #u li img{
    transition: all 1s;
}
.nav_top #u li:hover img{
    transform: rotateY(360deg);
}
.nav_top #u li a {
    position: absolute;
    display: block;
    font-size: 16px;
    color: #222;
    width: 100px;
    height: 40px;
    top: 105px;
}
.nav_top #u li img{
	display: block;
	margin-top: 20px;
	margin-left: 30px;
}
.nav_top #u li ul{
    position: absolute;
    list-style: none;
    width: 282px;
    height: auto;
    background-color: rgb(250,250,250,0.7);
    top: 149px;
    z-index: 999;
    display: none;
}
.nav_top #u li:hover ul{
    display: block;
}
.nav_top #u li ul li{
    float: left;
    margin-left: 25px;
    height: 40px;
    line-height: 40px;
}
.nav_top #u ul li:hover{
    background:  #bf4c5d;
}

/*-------------------------------------------------------顶部结束------------------------------------------------*/

/*-------------------------------------------------------拉伸开始------------------------------------------------*/

#center {
    position: relative;
    background: #F6DDE0;
}
#slider {
    position: relative;
    width: 820px;
    height: 333px;
    left: 223px;
    top: 0px;
    overflow: hidden;
    background: #BF4C5D;
    border: 20px solid #BF4C5D;

}
#slider .slide {
    position: absolute;
    top: 0px;
    height: 333px;
    width: 500px;
    background: #BF4C5D;
    overflow: hidden;
    border-left: #BF4C5D solid 1px;
    cursor: default;
}
#slider .title   {
    color: #F80;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 1.5em;
    text-decoration: none;
}
#slider .backgroundText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
#slider .text {
    position: absolute;
    top: 1%;
    top: 100%;
    color: #FFF;
    font-family: verdana, arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    width: 470px;
    left: 10px;
}
#slider .diapo {
    position: absolute;
    width: 492px;
    height: 335px;
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: hidden;
}


/*-------------------------------------------------------拉伸结束------------------------------------------------*/



/*-------------------------------------------------------课程开始------------------------------------------------*/


.curriculum {
    width: 100%;
    height: 2448px;
    background: #f9eddf url(img/kebg.jpg) top center no-repeat;
    position: relative;
}

.ntitle {
    text-align: center;
    display: block;
    margin: 0px auto 0;
    padding: 40px 0;
}

.ntitle img {
    display: block;
    margin: 0px auto 20px;
}

.ttnav {
    width: 1300px;
    height: 77px;
    margin: 0px auto;
    position: relative;
}

.ttnav ul {
    width: 705px;
    margin: 0px auto;
    position: relative;
    z-index: 9;
}

.ttline2 {
    width: 100%;
    height: 1px;
    background-color: #bf4c5d;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 62px;
}

.ttnav ul li.on a, .ttnav ul li:hover a {
    color: #fffbd3;
}

.ttnav ul li.on, .ttnav ul li:hover {
    background: url(img/kico3.png) no-repeat;
}

.ttnav ul li {
    width: 122px;
    margin: 0 9px;
    float: left;
    height: 68px;
    background: url(img/kico2.png) no-repeat;
}
.ttnav ul li a {
    font-size: 18px;
    text-align: center;
    color: #bf4c5d;
    line-height: 68px;
    display: block;
}

.ntit {
    text-align: center;
    display: block;
    margin: 0px auto 0;
    padding: 40px 0 30px 0;
}

.ntit ins {
    width: 40px;
    height: 3px;
    background-color: #b52a31;
    display: block;
    margin: 20px auto 0;
}

.currtxt {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    width: 1300px;
    margin: 0px auto;
}

.container {
    width: 1300px;
    margin: 0px auto;
    clear: both;
    position: relative;
}

.dagtxt {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    text-indent: 35px;
}

.dagang, .dagang4 {
    width: 1300px;
    margin: 0px auto 30px;
    height: 332px;
}

.dagang{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.dagang li {
    width: 240px;
    height: 332px;
    padding: 0 30px;
    position: relative;
}

.dagang li:nth-child(1),.dagang li:nth-child(5),.dagang li:nth-child(9){
    background: url(img/kd1.png);
}

.dagang li:nth-child(2),.dagang li:nth-child(6),.dagang li:nth-child(10){
    background: url(img/kd2.png);
}
.dagang li:nth-child(3),.dagang li:nth-child(7),.dagang li:nth-child(11){
    background: url(img/kd3.png);
}
.dagang li:nth-child(4),.dagang li:nth-child(8){
    background: url(img/kd4.png);
}
.dagang li:nth-child(12){
    background: url(img/kd5.png);
}
.dagang ins, .dagang4 ins {
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 32px;
    line-height: 32px;
    background-color: #bf4c5d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.dagang li span, .dagang4 li span {
    display: block;
    font-size: 18px;
    color: #b52a31;
    margin-bottom: 20px;
    padding-top: 70px;
}

.dagang li p, .dagang4 li p {
    font-size: 14px;
    color: #333;
    line-height: 23px;
    letter-spacing: 1px;
}
.ndi{
    position: relative;
}
.ndi img{
    display: block;
    margin: 0 auto; 
    margin-top: 50px;
}
.f{
    margin-top: 700px;
}

.zhuci {
    width: 1310px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.zhuci a{
    display: block;
    overflow: hidden;
}

.zhuci a img {
    transition: all 2s; 
}
.zhuci a:hover img {
    transform: scale(1.2);
}
/*-------------------------------------------------------课程结束------------------------------------------------*/



/*-------------------------------------------------------底部开始------------------------------------------------*/
.foot {
    width: 100%;
    height: 275px;
    background: url(img/h14.jpg) center no-repeat;
}
.foots {
	margin: 0 auto;
    width: 1100px;
    height: 275px;
}

.flogo {
	float: left;
    width: 170px;
    height: 275px;
    background: #fff;
}
.flogo img {
    padding: 35px 0 0 25px;
}
.fbq {
	float: left;
    width: 700px;
    height: 275px;
    margin-left: 40px;
    display: inline;
}
.fbq_nav {
    width: 700px;
    height: 50px;
    background: url(img/03.png) left bottom no-repeat;
    line-height: 50px;
    text-align: left;
}
.fbq_nav span {
    padding: 0 7px;
    color: #fff;
}
.fbq_nav span a {
    color: #fff;
}
.fbq_con {
    width: 700px;
    height: auto;
    line-height: 29px;
    padding-top: 20px;
    color: #fff;
}
.fbq_con ul{
    list-style: none;
    width: 700px;
    width: 223px;
}
.fbq_con ul li{
    width: 700px;
    height: auto;
}
.fbq_con a {
    color: #fff;
}

.fweima {
	float: right;
    width: 185px;
    height: 185px;
    background: #fff;
    text-align: center;
    margin-top: 20px;
    padding-top: 7px;
}
/*-------------------------------------------------------底部结束------------------------------------------------*/


/*-----------------------------------------------------定位区域开始----------------------------------------------*/

.nav {
    width: 93px;
    height: 337px;
    margin-top: -168px;
    right: 10px;
    /* background: red; */
    position: fixed;
    z-index: 999;
}
.nav a {
    display: block;
    background: url(img/right_dh.png) no-repeat;
    width: 93px;
    color: #333;
    position: relative;
}
.nav a.right_1 {
    margin-top: 3px;
    background-position: left -105px;
    height: 59px;
}
.nav a.right_2 {
    margin-top: 3px;
    background-position: left -166px;
    height: 59px;
}
.nav a.right_3 {
    margin-top: 3px;
    background-position: left -227px;
    height: 59px;
}
.nav a.right_4 {
    margin-top: 3px;
    background-position: left -288px;
    height: 59px;
}
.nav a.right_5 {
    margin-top: 15px;
    background-position: left -363px;
    height: 15px;
}
.xiazai {
    position: absolute;
    right: 74px;
    top: 0;
    background: url(img/right_cg_bg.png) no-repeat;
    width: 182px;
    height: 208px;
    box-shadow: none;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 0;
    display: none;
}
.right_1:hover .xiazai{
    display: block;
}
.xiazai img{
    display: block;
    margin-left: 16px;
    width: 138px;
    height: 138px;
}

.right_3:hover .xiazai{
    display: block;
}

.xiazai span {
    width: 168px;
    display: block;
    text-align: center;
    color: #777777;
    font-size: 14px;
}
/*------------------------------------------定位区域结束-----------------------------------*/


